// @font-face {
//     src: url(../../fonts/OpenSans-Bold.ttf);
//     font-family: OpenSans-Bold;
// }

// @font-face {
//     src: url(../../fonts/OpenSans-Light.ttf);
//     font-family: OpenSans-Light;
// }
@font-face {
    font-family: Spartan;
    src: url(~@/assets/fonts/Spartan-Regular.ttf);
}

@font-face {
    src: url(~@/assets/fonts/Spartan-SemiBold.ttf);

    font-family: Spartan-bold;
}

@font-face {
    src: url(~@/assets/fonts/Spartan-Light.ttf);
    font-family: Spartan-light;
}
